# Puerto del servidor
PORT=3000

# Tu clave de Google Gemini
GEMINI_API_KEY=tu_api_key_aqui

# Modelo de voz en tiempo real
GEMINI_LIVE_MODEL=models/gemini-2.5-flash-native-audio-latest

# Voz por defecto: Aoede, Puck, Charon, Fenrir, Kore
GEMINI_VOICE=Aoede

# Contraseña de acceso a la terminal ejecutiva Aura
APP_PASSWORD=Aura-Shield-2026!
